{% extends 'base.html' %}
{% load static %}

{% block style%}
<title>AMBMUN | About</title>
{% endblock %}

{% block content %}
<div class="root" style="padding-top: 172px;">
    <div class="subrootcontainer">
        <div class="subroot" style="padding: 20px; padding-bottom: 400px;">
            <!-- Not really dynamic but editable if prefered -->
            <!-- Header -->
            <h2 class="header desktopmargin">About The AMB Model
                United Nations</h2>
            <!-- About body text -->
            <p class="desktopmarginright">Al Mawakeb Al Barsha Model United Nations (AMBMUN) is set
                to make
                its mark as
                the inaugural conference in April 2024.
                Born out of the passion and dedication of Al Mawakeb Al Barsha students, this conference is poised to be
                a
                groundbreaking event in the world of Model United Nations.
                <br><br>
                AMBMUN prides itself on its diverse membership, bringing together students from various fields such as
                Engineering,
                International Relations, Business, and Media. These students, regardless of their background, join
                AMBMUN for the
                unparalleled experience and knowledge gained through engaging in debates, listening actively, and
                collaboratively
                solving global issues through resolution.
                Having drawn inspiration from attending international MUN conferences at prestigious universities,
                AMBMUN members have
                not only expanded their knowledge but have also actively contributed to regional conferences, creating a
                dynamic network
                within the Model UN community.
                <br><br>
                As March 2024 approaches, the anticipation for the inaugural AMBMUN conference builds. The decision to
                host this event
                reflects the club's commitment to providing an authentic UN experience for its members and further
                solidifying its
                position as a prominent regional hub for Model United Nations enthusiasts. Here's to the upcoming
                inaugural AMBMUN and
                the exciting journey that lies ahead!
            </p>
        </div>
    </div>
</div>
{% endblock %}