{% extends 'base.html' %}
{% load static %}
{% load set %}

{% block style%}
<title>AMBMUN | Schedule</title>
{% endblock %}

{% block content %}
<div class="root" style="padding-top: 172px;">
    <div class="subrootcontainer">
        <div class="subroot" style="padding: 20px; padding-bottom: 200px;">
            <h2 class="header desktopmargin">Schedule</h2>
            <div class=" centerer flexcontainer" style="gap: 100px; align-items: start;">
                <!-- HTML SHOULD NOT BE TOUCHED, THE DYNAMIC PART IS IN THE JS DOWN BELOW, CHECK NEXT COMMENT -->
                 {% for date in scheduleDates %}
                 <div>
                    <div class="centerer" style="flex-direction: column; align-items: center;  margin-bottom: 30px;" >
                        <h2 style="font-weight: 300; margin: 0px;">DAY {{forloop.counter}}</h2>
                        <h3 style="font-weight: 200; margin: 0px; font-size: 18px;">{{ date.0.date|date:"jS F Y" }}</h3>
                    </div>
                    <div class="centerer">
                        <div class="schedules" style="width: 238px; margin-top: 19px;">
                            {% for schedulentry in date %}
                            {% if forloop.counter|divisibleby:2 %}
                            <div class="schedule-centerer">
                                <div class="schedule-spacer"></div>
                            </div>
                            {% else %}

                            <div class="schedule-centerer" style="flex-direction: column; justify-content: start;">
                                <div style="width: 100%; display: flex; align-items: center;">
                                    {% with forloop.parentloop.counter|add:"-1" as parentLoop  %}
                                    {% with scheduleDateLengths|get_item:parentLoop as val %}
                                    <div class="schedule-bubble" id="bubble{{forloop.counter|add:val}}">{{schedulentry.start_time|time:"g:i A"}} - {{schedulentry.end_time|time:"g:i A"}}</div>
                                    <div class="schedule-line" id="line{{forloop.counter|add:val}}"></div>
                                    {% endwith %}
                                    {% endwith %}
                                </div>
                                <div style="width: 100%; text-align: left; margin-top: 5px;">{{schedulentry.event_title}}</div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div style="height: 100%; margin-top: 19px;">
                            {% for schedulentry in date %}
                            {% with forloop.parentloop.counter|add:"-1" as parentLoop  %}
                            {% with scheduleDateLengths|get_item:parentLoop as val %}
                            <div class="schedule-circle" id="circle{{forloop.counter|add:val}}"></div>
                            <div class="centerer">
                                <div class="schedule-vertical-line{% if not forloop.counter < date|length %}-invisible{% endif %}" id="verline{{forloop.counter|add:val}}"></div>
                            </div>
                            {% endwith %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                        <div class="schedules" style="width: 238px; margin-top: 11px;">
                            {% for schedulentry in date %}
                            {% if forloop.counter|divisibleby:2 %}
                            <div class="schedule-centerer" style="flex-direction: column; justify-content: start;">
                                <div style="width: 100%; display: flex; align-items: center;">
                                    {% with forloop.parentloop.counter|add:"-1" as parentLoop  %}
                                    {% with scheduleDateLengths|get_item:parentLoop as val %}
                                    <div class="schedule-line" id="line{{forloop.counter|add:val}}"></div>
                                    <div class="schedule-bubble" id="bubble{{forloop.counter|add:val}}">{{schedulentry.start_time|time:"g:i A"}} - {{schedulentry.end_time|time:"g:i A"}}</div>
                                    {% endwith %}
                                    {% endwith %}
                                </div>
                                <div style="width: 100%; text-align: right; margin-top: 5px;">{{schedulentry.event_title}}</div>
                            </div>
                            {% else %}
                            <div class="schedule-centerer">
                                <div class="schedule-spacer"></div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                 {% endfor %}
                

                <!-- <svg id="day2"></svg>
                        <svg id="day1"></svg> -->
            </div>
        </div>
    </div>
</div>


<script>
    // Day1 and Day2 images targeted
    var day1 = document.getElementById("day1");
    var day1Date = "{{ mun_day_1 }}";
    var day2 = document.getElementById("day2");
    var day2Date = "{{ mun_day_2 }}";

    // Status assign function
    function setStatusColor(index, color) {
        document.getElementById("bubble" + index).style.backgroundColor = color;
        document.getElementById("circle" + index).style.backgroundColor = color;
        document.getElementById("line" + index).style.borderColor = color;
        if(index > 0) {
            document.getElementById("verline" + (index-1)).style.borderColor = color;
        }
        // console.log(callerName);
        {% comment %} for (var i = 0; i < document.getElementsByClassName("schedule-bubble").length; i++) {
            var element = document.getElementsByClassName("schedule-bubble")[i];
            var circle = document.getElementsByClassName("schedule-circle")[i];
            var line = document.getElementsByClassName("schedule-line")[i];
            var verline = document.getElementsByClassName("schedule-vertical-line")[i];
            element.style.backgroundColor = color;
            line.style.borderColor = color;
            verline.style.borderColor = color;
            circle.style.backgroundColor = color;
            // console.log(element);
        } {% endcomment %}
    }
    function resetStatusColors() {
        try{
        for(var i = 0; i < {{schedule|length|add:"-1"}}; i++) {
            {% comment %} console.log(i); {% endcomment %}
            setStatusColor(i, "#000000");
        }
    }
    catch{}
    }
    function fillStatusColors(endIndex) {
        try{
        resetStatusColors();
        for (var i = endIndex - 1; i >= 0; i--) {
            setStatusColor(i, "#35599b");
        }
        setStatusColor(endIndex, "#d7db2c");
    }
    catch{}
    }
    var times = [{% for entry in schedule %}new Date("{{entry.date|date:"j F Y"}} {{entry.start_time|time:"g:i A"}}"),{% endfor %}new Date("{{schedule.last.date|date:"j F Y"}} {{schedule.last.end_time|time:"g:i A"}}")]
    setInterval(function() {
        var now = Date.now();
        //var now = new Date("15 January 2025 5:15 PM").getTime()
        for(var i = 0; i < times.length; i++) {
            if(now > times[i].getTime()) {
                // console.log(i);
                fillStatusColors(i);
            }
        }
    }, 500);
</script>

{%endblock%}